.category-input {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 8px 0px 8px 30px;
    outline: none;
    font-size: 20px;
  }
  .category-input  input::focus {
    border: none;
  }
  