.task-name-input {
    margin: 0 auto;
    height: 100%;
    width: 80%;
    border: none;
    border-radius: 20px;
    /* padding-left: 30px; */
    padding: 8px 0px 8px 30px;
    outline: none;
    font-size: 20px;
  }
  .search-input  input::focus {
    border: none;
  }
  