.task-details-page {
  margin: 0 auto;
  width: 400px;
}
.task-details-page header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  margin-bottom: 30px;
  /* margin: 30px 0px 10px 0; */
}

.task-details-page header h1 {
  font-size: 20px;
  flex-grow: 1;
  text-align: center;
}

.task-details {
  width: 400px;
  background-color: #f0fff0;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 5px 6px 5px -4px rgba(0, 0, 0, 0.2);
}

.task-details:hover {
  transform: scale(1.01);
  transition: 0.3s ease 0s;
}
.task-details .task-name .label {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.task-details .task-name {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
  width: 50%;
}

.task-details .task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: rgb(236, 236, 236);
  margin: 0;
  padding: 30px 0;
  /* border: 2px solid rgb(128, 0, 100); */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.task-details .task-header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.task-details .check-icon-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.task-details .check-icon-container {
  border: none;


.task-details .delete-icon-container {
  width: 200%;
}
}
/* .task-details .edit-icon-container{
  width: 100%;
} */

.task-details .edit-icon-container svg,
.task-details .check-icon-container svg,
.task-details .delete-icon-container svg {
  border: 1px solid green;
  border-radius: 50%;
  background-color: #e7f5ff;
  padding: 2px;
  width: 80%;
  stroke: black;
}

.task-details .edit-icon-container svg:hover,
.task-details.check-icon-container svg:hover,
.task-details .delete-icon-container svg:hover {
  cursor: pointer;
  border: 2px solid rgb(6, 0, 93);
}
.task-details .task-mid-section {
  display: flex;
  flex-direction: column;
  height: 180px;
}

.task-details .mid-bottom-section {
  grid-row-start: 1;
  grid-column-start: 1;
  z-index: 1;
}



.task-details .task-mid-section .row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.task-details .task-mid-section .row label {
  /* color: blue; */
  font-size: 14px;
  margin: 0 6px 0 1px;
}

.task-details .task-mid-section .row span {
  font-size: 18px;
}

.task-details .container {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}
.task-details .container .cover {
  grid-column-start: 1;
  grid-row-start: 1;
  z-index: 2;
}
.task-details .stamp {
  margin: 80px;
  transform: rotate(12deg);
  color: #555;
  font-size: 2rem;
  font-weight: 700;
  border: 0.25rem solid #555;
  display: inline-block;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-family: "Courier";
  mask-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/8399/grunge.png");
  mask-size: 944px 604px;
  mix-blend-mode: multiply;
}

.task-details .is-complete {
  color: #0a9928;
  border: 0.5rem solid #0a9928;
  mask-position: 13rem 6rem;
  transform: rotate(-14deg);
  border-radius: 0;
}

.task-details .tag {
  /* border: 1px solid red; */
  margin-right: 8px;
  /* box-shadow: 5px 6px 5px -4px rgba(0, 0, 0, 1); */
  box-shadow: rgba(0, 0, 0, 0.2) 0px -0.075em 0px inset;
  border-radius: 5px;
  font-size: 14px;
  padding: 0 5px;
}

.task-details .subtask-checkmark {
  width: 50px;
  stroke: white;
  border-radius: 50%;
  border: 2px solid rgb(2, 45, 20);
  background-color: green;
}

.task-details .subtask-box {
  margin: 0 auto;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  width: 90%;
  height: 50px;
  background-color: rgb(232, 232, 232);
  margin-bottom: 10px;
  border-radius: 50px;
}

.task-details-page .repeat-task-btn {
  display: flex;
  margin: 0 auto;
  background-color: #0379ce;
  color: white;
  font-size: 18px;
  border: none;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 5px 6px 5px -4px rgba(0, 0, 0, 0.6);
}
.task-details-page .repeat-task-btn span {
  margin-left: 5px;
}

.task-details-page .repeat-task-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s ease 0s;
}
.task-details-footer {
  margin: 0 auto;

  width: 100%;
  display: flex;
  justify-content: center;
}
