*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
.App {
height: 100vh;
  background-color: #F5F5F5;
}





.all-tasks{
  display: flex;
  
}

circle {
  transition: all 0.7s ease-in-out;
}

/* .edit-icon-container, .delete-icon-container, .check-icon-container,.back-icon-container{
  width: 10%;
  height: auto;
  border-radius: 50%;
  padding: 12px;
  background-color: rgb(177, 177, 221); 
  display: flex;
margin: 0 auto;
} */
/* .edit-icon-container:hover, .delete-icon-container:hover, .check-icon-container:hover, .back-icon-container:hover{
  border: 2px solid blue;
  cursor: pointer;
} */
/* .edit-icon, .delete-icon, .check-icon,  */
.back-icon{
  width: 100%;
  height: auto;
}
.task-buttons{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  width: 70%;
}

